*.elc
*~
\#*\#
.\#*

/.*
/*
!/.gitignore
!/*.el

!/conf/
!/elisp/
/elisp/*
!/elisp/etc/

!/snippets/

!/abbrev_defs
!/el-get.lock
!/recipes/

!/gnus/
/gnus/*
!/gnus/rss.xml

!/org-gcal/
/org-gcal/*
!/org-gcal/seeksched/
/org-gcal/seeksched/**/*.js
/org-gcal/seeksched/typings/

!/.authinfo.gpg
!/.authinfo.plist
!/.oauth2.plstore
!/.bts-project
!/.bts-query
!/.aspell.en.pws
