[submodule "ag"]
	path = elisp/borg/ag
	url = https://github.com/Wilfred/ag.el
	ignore = untracked
[submodule "alert"]
	path = elisp/borg/alert
	url = https://github.com/jwiegley/alert
	ignore = untracked
[submodule "all-the-icons"]
	path = elisp/borg/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "auto-compile"]
	path = elisp/borg/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = elisp/borg/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = elisp/borg/cape
	url = https://github.com/minad/cape
	ignore = untracked
[submodule "closql"]
	path = elisp/borg/closql
	url = git@github.com:magit/closql.git
[submodule "color-moccur"]
	path = elisp/borg/color-moccur
	url = https://github.com/myuhe/color-moccur.el
	ignore = untracked
[submodule "compat"]
	path = elisp/borg/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "consult"]
	path = elisp/borg/consult
	url = https://github.com/minad/consult
	ignore = untracked
[submodule "corfu"]
	path = elisp/borg/corfu
	url = https://github.com/minad/corfu
	ignore = untracked
    recursive-byte-compile = true
[submodule "ctable"]
	path = elisp/borg/ctable
	url = https://github.com/kiwanami/emacs-ctable
	ignore = untracked
[submodule "dash"]
	path = elisp/borg/dash
	url = git@github.com:magnars/dash.el.git
[submodule "dash-functional"]
	path = elisp/borg/dash-functional
	url = git@github.com:aki2o/.emacs.d.git
[submodule "deferred"]
	path = elisp/borg/deferred
	url = https://github.com/kiwanami/emacs-deferred
	ignore = untracked
[submodule "diff-hl"]
	path = elisp/borg/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = elisp/borg/diminish
	url = https://github.com/myrjola/diminish.el
	ignore = untracked
[submodule "doom-modeline"]
	path = elisp/borg/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
	ignore = untracked
[submodule "dropdown-list"]
	path = elisp/borg/dropdown-list
	url = git@github.com:emacsmirror/dropdown-list.git
	ignore = untracked
[submodule "elmine"]
	path = elisp/borg/elmine
	url = https://github.com/leoc/elmine
	ignore = untracked
[submodule "emacsql"]
	path = elisp/borg/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "epkg"]
	path = elisp/borg/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = elisp/borg/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
	ignore = untracked
[submodule "f"]
	path = elisp/borg/f
	url = https://github.com/rejeep/f.el
	ignore = untracked
[submodule "fill-column-indicator"]
	path = elisp/borg/fill-column-indicator
	url = https://github.com/alpaker/fill-column-indicator
	ignore = untracked
[submodule "flex-autopair"]
	path = elisp/borg/flex-autopair
	url = https://github.com/uk-ar/flex-autopair
	ignore = untracked
[submodule "fuzzy"]
	path = elisp/borg/fuzzy
	url = https://github.com/auto-complete/fuzzy-el
[submodule "git-modes"]
	path = elisp/borg/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "gntp"]
	path = elisp/borg/gntp
	url = https://github.com/tekai/gntp.el
	ignore = untracked
[submodule "goto-chg"]
	path = elisp/borg/goto-chg
	url = https://github.com/emacs-evil/goto-chg
	ignore = untracked
[submodule "grep-a-lot"]
	path = elisp/borg/grep-a-lot
	url = https://github.com/ZungBang/emacs-grep-a-lot
	ignore = untracked
[submodule "hexrgb"]
	path = elisp/borg/hexrgb
	url = git@github.com:emacsmirror/hexrgb.git
	ignore = untracked
[submodule "highlight-symbol"]
	path = elisp/borg/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el
	ignore = untracked
[submodule "hydra"]
	path = elisp/borg/hydra
	url = https://github.com/abo-abo/hydra
	ignore = untracked
[submodule "inertial-scroll"]
	path = elisp/borg/inertial-scroll
	url = https://github.com/kiwanami/emacs-inertial-scroll
	ignore = untracked
[submodule "init-loader"]
	path = elisp/borg/init-loader
	url = https://github.com/emacs-jp/init-loader
[submodule "kind-icon"]
	path = elisp/borg/kind-icon
	url = https://github.com/jdtsmith/kind-icon
	ignore = untracked
[submodule "libgit"]
	path = elisp/borg/libgit
	url = https://github.com/magit/libegit2
	ignore = untracked
[submodule "llama"]
	path = elisp/borg/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "log4e"]
	path = elisp/borg/log4e
	url = https://github.com/aki2o/log4e
	ignore = untracked
[submodule "magit"]
	path = elisp/borg/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = elisp/borg/marginalia
	url = https://github.com/minad/marginalia
	ignore = untracked
[submodule "migemo"]
	path = elisp/borg/migemo
	url = https://github.com/emacs-jp/migemo
	ignore = untracked
[submodule "moccur-edit"]
	path = elisp/borg/moccur-edit
	url = git@github.com:emacsattic/moccur-edit.git
	ignore = untracked
[submodule "mozc"]
	path = elisp/borg/mozc
	url = git@github.com:emacsmirror/mozc.git
	ignore = untracked
[submodule "mozc-el-extensions"]
	path = elisp/borg/mozc-el-extensions
	url = git@github.com:iRi-E/mozc-el-extensions.git
	ignore = untracked
[submodule "mozc-popup"]
	path = elisp/borg/mozc-popup
	url = https://github.com/d5884/mozc-popup
	ignore = untracked
[submodule "nerd-icons"]
	path = elisp/borg/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
	ignore = untracked
[submodule "orderless"]
	path = elisp/borg/orderless
	url = https://github.com/oantolin/orderless
	ignore = untracked
[submodule "point-undo"]
	path = elisp/borg/point-undo
	url = git@github.com:emacsmirror/point-undo.git
	ignore = untracked
[submodule "popup"]
	path = elisp/borg/popup
	url = https://github.com/auto-complete/popup-el
[submodule "pos-tip"]
	path = elisp/borg/pos-tip
	url = https://github.com/pitkali/pos-tip
	ignore = untracked
[submodule "posframe"]
	path = elisp/borg/posframe
	url = https://github.com/tumashu/posframe
	ignore = untracked
[submodule "prescient"]
	path = elisp/borg/prescient
	url = https://github.com/radian-software/prescient.el
	ignore = untracked
[submodule "queue"]
	path = elisp/borg/queue
	url = git@github.com:emacsmirror/queue.git
	ignore = untracked
[submodule "recentf-ext"]
	path = elisp/borg/recentf-ext
	url = https://github.com/rubikitch/recentf-ext
	ignore = untracked
[submodule "redo+"]
	path = elisp/borg/redo+
	url = git@github.com:emacsmirror/redo-plus.git
	ignore = untracked
[submodule "rg"]
	path = elisp/borg/rg
	url = https://github.com/dajva/rg.el
	ignore = untracked
[submodule "s"]
	path = elisp/borg/s
	url = https://github.com/magnars/s.el
	ignore = untracked
[submodule "sequential-command"]
	path = elisp/borg/sequential-command
	url = https://github.com/rubikitch/sequential-command
	ignore = untracked
[submodule "shrink-path"]
	path = elisp/borg/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
	ignore = untracked
[submodule "sqlite3"]
	path = elisp/borg/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "tail"]
	path = elisp/borg/tail
	url = https://github.com/emacsorphanage/tail
	ignore = untracked
[submodule "transient"]
	path = elisp/borg/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = elisp/borg/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undo-tree"]
	path = elisp/borg/undo-tree
	url = https://gitlab.com/tsc25/undo-tree
	ignore = untracked
[submodule "use-package"]
	path = elisp/borg/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = elisp/borg/vertico
	url = https://github.com/minad/vertico
	ignore = untracked
    recursive-byte-compile = true
[submodule "viewer"]
	path = elisp/borg/viewer
	url = https://github.com/rubikitch/viewer
	ignore = untracked
[submodule "wgrep"]
	path = elisp/borg/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
	ignore = untracked
[submodule "which-key"]
	path = elisp/borg/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "which-key-posframe"]
	path = elisp/borg/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
	ignore = untracked
[submodule "with-editor"]
	path = elisp/borg/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaol"]
	path = elisp/borg/yaol
	url = https://github.com/aki2o/yaol-el
	ignore = untracked
[submodule "yaxception"]
	path = elisp/borg/yaxception
	url = https://github.com/aki2o/yaxception
	ignore = untracked
