[submodule "add-node-modules-path"]
	path = elisp/borg/add-node-modules-path
	url = https://github.com/codesuki/add-node-modules-path
	ignore = untracked
[submodule "ag"]
	path = elisp/borg/ag
	url = https://github.com/Wilfred/ag.el
	ignore = untracked
[submodule "alert"]
	path = elisp/borg/alert
	url = https://github.com/jwiegley/alert
	ignore = untracked
[submodule "all-the-icons"]
	path = elisp/borg/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "auto-compile"]
	path = elisp/borg/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "autodisass-java-bytecode"]
	path = elisp/borg/autodisass-java-bytecode
	url = https://github.com/gbalats/autodisass-java-bytecode
	ignore = untracked
[submodule "avy"]
	path = elisp/borg/avy
	url = https://github.com/abo-abo/avy
	ignore = untracked
[submodule "borg"]
	path = elisp/borg/borg
	url = git@github.com:emacscollective/borg.git
[submodule "bui"]
	path = elisp/borg/bui
	url = https://github.com/alezost/bui.el
[submodule "cape"]
	path = elisp/borg/cape
	url = https://github.com/minad/cape
	ignore = untracked
[submodule "cargo"]
	path = elisp/borg/cargo
	url = https://github.com/kwrooijen/cargo.el
	ignore = untracked
[submodule "chatgpt"]
	path = elisp/borg/chatgpt
	url = git@github.com:emacs-openai/chatgpt.git
[submodule "closql"]
	path = elisp/borg/closql
	url = git@github.com:magit/closql.git
[submodule "coffee-mode"]
	path = elisp/borg/coffee-mode
	url = https://github.com/defunkt/coffee-mode
	ignore = untracked
[submodule "color-moccur"]
	path = elisp/borg/color-moccur
	url = https://github.com/myuhe/color-moccur.el
	ignore = untracked
[submodule "compat"]
	path = elisp/borg/compat
	url = git@github.com:emacs-compat/compat.git
	ignore = untracked
[submodule "consult"]
	path = elisp/borg/consult
	url = https://github.com/minad/consult
	ignore = untracked
[submodule "copilot"]
	path = elisp/borg/copilot
	url = git@github.com:zerolfx/copilot.el.git
	ignore = untracked
[submodule "corfu"]
	path = elisp/borg/corfu
	url = https://github.com/minad/corfu
	ignore = untracked
	load-path = .
	load-path = extensions
[submodule "csv-mode"]
	path = elisp/borg/csv-mode
	url = git@github.com:emacsmirror/csv-mode.git
[submodule "ctable"]
	path = elisp/borg/ctable
	url = https://github.com/kiwanami/emacs-ctable
	ignore = untracked
[submodule "dap-mode"]
	path = elisp/borg/dap-mode
	url = https://github.com/emacs-lsp/dap-mode
	ignore = untracked
[submodule "dash"]
	path = elisp/borg/dash
	url = git@github.com:magnars/dash.el.git
	ignore = untracked
[submodule "deferred"]
	path = elisp/borg/deferred
	url = https://github.com/kiwanami/emacs-deferred
	ignore = untracked
[submodule "diff-hl"]
	path = elisp/borg/diff-hl
	url = git@github.com:dgutov/diff-hl.git
	ignore = untracked
[submodule "diminish"]
	path = elisp/borg/diminish
	url = https://github.com/myrjola/diminish.el
	ignore = untracked
[submodule "direx"]
	path = elisp/borg/direx
	url = git@github.com:aki2o/direx-el.git
	ignore = untracked
[submodule "direx-grep"]
	path = elisp/borg/direx-grep
	url = https://github.com/aki2o/direx-grep
	ignore = untracked
[submodule "dockerfile-mode"]
	path = elisp/borg/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
	ignore = untracked
[submodule "doom-modeline"]
	path = elisp/borg/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
	ignore = untracked
[submodule "dropdown-list"]
	path = elisp/borg/dropdown-list
	url = git@github.com:emacsmirror/dropdown-list.git
	ignore = untracked
[submodule "dsvn"]
	path = elisp/borg/dsvn
	url = git@github.com:emacsmirror/dsvn.git
	ignore = untracked
[submodule "e2wm"]
	path = elisp/borg/e2wm
	url = https://github.com/kiwanami/emacs-window-manager
	ignore = untracked
[submodule "e2wm-direx"]
	path = elisp/borg/e2wm-direx
	url = https://github.com/aki2o/e2wm-direx
	ignore = untracked
[submodule "e2wm-perspb"]
	path = elisp/borg/e2wm-perspb
	url = https://github.com/aki2o/e2wm-perspb
	ignore = untracked
[submodule "e2wm-sww"]
	path = elisp/borg/e2wm-sww
	url = https://github.com/aki2o/e2wm-sww
	ignore = untracked
[submodule "e2wm-term"]
	path = elisp/borg/e2wm-term
	url = https://github.com/aki2o/e2wm-term
	ignore = untracked
[submodule "edit-indirect"]
	path = elisp/borg/edit-indirect
	url = https://github.com/Fanael/edit-indirect
	ignore = untracked
[submodule "editorconfig"]
	path = elisp/borg/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs
	ignore = untracked
[submodule "eldoc-extension"]
	path = elisp/borg/eldoc-extension
	url = git@github.com:emacsmirror/eldoc-extension.git
	ignore = untracked
[submodule "elisp-test"]
	path = elisp/borg/elisp-test
	url = https://github.com/aki2o/elisp-test.git
	ignore = untracked
[submodule "elmine"]
	path = elisp/borg/elmine
	url = https://github.com/leoc/elmine
	ignore = untracked
[submodule "emacsql"]
	path = elisp/borg/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "embark"]
	path = elisp/borg/embark
	url = https://github.com/oantolin/embark
	ignore = untracked
[submodule "epkg"]
	path = elisp/borg/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = elisp/borg/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
	ignore = untracked
[submodule "f"]
	path = elisp/borg/f
	url = https://github.com/rejeep/f.el
	ignore = untracked
[submodule "fill-column-indicator"]
	path = elisp/borg/fill-column-indicator
	url = https://github.com/alpaker/fill-column-indicator
	ignore = untracked
[submodule "findr"]
	path = elisp/borg/findr
	url = https://github.com/emacsorphanage/findr
	ignore = untracked
[submodule "flex-autopair"]
	path = elisp/borg/flex-autopair
	url = https://github.com/uk-ar/flex-autopair
	ignore = untracked
[submodule "flycheck"]
	path = elisp/borg/flycheck
	url = https://github.com/flycheck/flycheck
	ignore = untracked
[submodule "flycheck-kotlin"]
	path = elisp/borg/flycheck-kotlin
	url = https://github.com/whirm/flycheck-kotlin
	ignore = untracked
[submodule "fuzzy"]
	path = elisp/borg/fuzzy
	url = https://github.com/auto-complete/fuzzy-el
[submodule "genrnc"]
	path = elisp/borg/genrnc
	url = https://github.com/aki2o/emacs-genrnc
	ignore = untracked
[submodule "ghub"]
	path = elisp/borg/ghub
	url = https://github.com/magit/ghub
[submodule "git-gutter"]
	path = elisp/borg/git-gutter
	url = https://github.com/emacsorphanage/git-gutter
[submodule "git-modes"]
	path = elisp/borg/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "github-browse-file"]
	path = elisp/borg/github-browse-file
	url = https://github.com/ozanmakes/github-browse-file
	ignore = untracked
[submodule "gntp"]
	path = elisp/borg/gntp
	url = https://github.com/tekai/gntp.el
	ignore = untracked
[submodule "go-mode"]
	path = elisp/borg/go-mode
	url = https://github.com/dominikh/go-mode.el
	ignore = untracked
[submodule "gom-mode"]
	path = elisp/borg/gom-mode
	url = https://github.com/emacsorphanage/gom-mode
	ignore = untracked
[submodule "google-c-style"]
	path = elisp/borg/google-c-style
	url = https://github.com/google/styleguide
	ignore = untracked
[submodule "google-translate"]
	path = elisp/borg/google-translate
	url = https://github.com/atykhonov/google-translate
	ignore = untracked
[submodule "goto-chg"]
	path = elisp/borg/goto-chg
	url = https://github.com/emacs-evil/goto-chg
	ignore = untracked
[submodule "graphql-mode"]
	path = elisp/borg/graphql-mode
	url = https://github.com/davazp/graphql-mode
	ignore = untracked
[submodule "grep-a-lot"]
	path = elisp/borg/grep-a-lot
	url = https://github.com/ZungBang/emacs-grep-a-lot
	ignore = untracked
[submodule "haml-mode"]
	path = elisp/borg/haml-mode
	url = https://github.com/nex3/haml-mode
	ignore = untracked
[submodule "hcl-mode"]
	path = elisp/borg/hcl-mode
	url = https://github.com/hcl-emacs/hcl-mode
	ignore = untracked
[submodule "hexrgb"]
	path = elisp/borg/hexrgb
	url = git@github.com:emacsmirror/hexrgb.git
	ignore = untracked
[submodule "highlight-symbol"]
	path = elisp/borg/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el
	ignore = untracked
[submodule "ht"]
	path = elisp/borg/ht
	url = https://github.com/Wilfred/ht.el
	ignore = untracked
[submodule "hydra"]
	path = elisp/borg/hydra
	url = https://github.com/abo-abo/hydra
	ignore = untracked
[submodule "inertial-scroll"]
	path = elisp/borg/inertial-scroll
	url = https://github.com/kiwanami/emacs-inertial-scroll
	ignore = untracked
[submodule "inf-ruby"]
	path = elisp/borg/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
	ignore = untracked
[submodule "inflections"]
	path = elisp/borg/inflections
	url = git@github.com:eschulte/jump.el.git
	ignore = untracked
[submodule "init-loader"]
	path = elisp/borg/init-loader
	url = https://github.com/emacs-jp/init-loader
	ignore = untracked
[submodule "js2-mode"]
	path = elisp/borg/js2-mode
	url = https://github.com/mooz/js2-mode
	ignore = untracked
[submodule "json-mode"]
	path = elisp/borg/json-mode
	url = https://github.com/json-emacs/json-mode
	ignore = untracked
[submodule "json-snatcher"]
	path = elisp/borg/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
	ignore = untracked
[submodule "kind-icon"]
	path = elisp/borg/kind-icon
	url = https://github.com/jdtsmith/kind-icon
	ignore = untracked
[submodule "kotlin-mode"]
	path = elisp/borg/kotlin-mode
	url = https://github.com/Emacs-Kotlin-Mode-Maintainers/kotlin-mode
	ignore = untracked
[submodule "libgit"]
	path = elisp/borg/libgit
	url = https://github.com/magit/libegit2
	ignore = untracked
[submodule "llama"]
	path = elisp/borg/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "log4e"]
	path = elisp/borg/log4e
	url = https://github.com/aki2o/log4e
	ignore = untracked
[submodule "lsp-docker"]
	path = elisp/borg/lsp-docker
	url = https://github.com/emacs-lsp/lsp-docker
	ignore = untracked
[submodule "lsp-java"]
	path = elisp/borg/lsp-java
	url = https://github.com/emacs-lsp/lsp-java
	ignore = untracked
[submodule "lsp-mode"]
	path = elisp/borg/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
	load-path = .
	load-path = clients
[submodule "lsp-treemacs"]
	path = elisp/borg/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
	ignore = untracked
[submodule "lsp-ui"]
	path = elisp/borg/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
	ignore = untracked
[submodule "magit"]
	path = elisp/borg/magit
	url = git@github.com:magit/magit.git
	ignore = untracked
[submodule "magit-popup"]
	path = elisp/borg/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "marginalia"]
	path = elisp/borg/marginalia
	url = https://github.com/minad/marginalia
	ignore = untracked
[submodule "markdown-mode"]
	path = elisp/borg/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
	ignore = untracked
[submodule "mayu-mode"]
	path = elisp/borg/mayu-mode
	url = git@github.com:byplayer/yamy.git
	ignore = untracked
[submodule "migemo"]
	path = elisp/borg/migemo
	url = https://github.com/emacs-jp/migemo
	ignore = untracked
[submodule "mmm-mode"]
	path = elisp/borg/mmm-mode
	url = https://github.com/dgutov/mmm-mode
	ignore = untracked
[submodule "moccur-edit"]
	path = elisp/borg/moccur-edit
	url = git@github.com:emacsattic/moccur-edit.git
	ignore = untracked
[submodule "nerd-icons"]
	path = elisp/borg/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
	ignore = untracked
[submodule "open-junk-file"]
	path = elisp/borg/open-junk-file
	url = https://github.com/rubikitch/open-junk-file
	ignore = untracked
[submodule "openai"]
	path = elisp/borg/openai
	url = git@github.com:emacs-openai/openai.git
[submodule "orderless"]
	path = elisp/borg/orderless
	url = https://github.com/oantolin/orderless
	ignore = untracked
[submodule "owdriver"]
	path = elisp/borg/owdriver
	url = https://github.com/aki2o/owdriver
	ignore = untracked
[submodule "persp-mode"]
	path = elisp/borg/persp-mode
	url = https://github.com/Bad-ptr/persp-mode.el
	ignore = untracked
[submodule "pfuture"]
	path = elisp/borg/pfuture
	url = https://github.com/Alexander-Miller/pfuture
	ignore = untracked
[submodule "php-eldoc"]
	path = elisp/borg/php-eldoc
	url = https://github.com/sabof/php-eldoc
	ignore = untracked
[submodule "php-mode"]
	path = elisp/borg/php-mode
	url = https://github.com/emacs-php/php-mode
[submodule "point-undo"]
	path = elisp/borg/point-undo
	url = git@github.com:emacsmirror/point-undo.git
	ignore = untracked
[submodule "polymode"]
	path = elisp/borg/polymode
	url = https://github.com/polymode/polymode
[submodule "pophint"]
	path = elisp/borg/pophint
	url = https://github.com/aki2o/emacs-pophint
	ignore = untracked
[submodule "popup"]
	path = elisp/borg/popup
	url = https://github.com/auto-complete/popup-el
[submodule "pos-tip"]
	path = elisp/borg/pos-tip
	url = https://github.com/pitkali/pos-tip
	ignore = untracked
[submodule "posframe"]
	path = elisp/borg/posframe
	url = https://github.com/tumashu/posframe
	ignore = untracked
[submodule "prescient"]
	path = elisp/borg/prescient
	url = https://github.com/radian-software/prescient.el
	ignore = untracked
[submodule "projectile"]
	path = elisp/borg/projectile
	url = https://github.com/bbatsov/projectile
	ignore = untracked
[submodule "projectile-rails"]
	path = elisp/borg/projectile-rails
	url = https://github.com/asok/projectile-rails
	ignore = untracked
[submodule "protobuf-mode"]
	path = elisp/borg/protobuf-mode
	url = git@github.com:emacsmirror/protobuf-mode.git
	ignore = untracked
[submodule "pug-mode"]
	path = elisp/borg/pug-mode
	url = https://github.com/hlissner/emacs-pug-mode
	ignore = untracked
[submodule "queue"]
	path = elisp/borg/queue
	url = git@github.com:emacsmirror/queue.git
	ignore = untracked
[submodule "rake"]
	path = elisp/borg/rake
	url = https://github.com/asok/rake
	ignore = untracked
[submodule "rbs-mode"]
	path = elisp/borg/rbs-mode
	url = https://github.com/ybiquitous/rbs-mode
	ignore = untracked
[submodule "recentf-ext"]
	path = elisp/borg/recentf-ext
	url = https://github.com/rubikitch/recentf-ext
	ignore = untracked
[submodule "redo+"]
	path = elisp/borg/redo+
	url = git@github.com:emacsmirror/redo-plus.git
	ignore = untracked
[submodule "request"]
	path = elisp/borg/request
	url = https://github.com/tkf/emacs-request
	ignore = untracked
[submodule "rg"]
	path = elisp/borg/rg
	url = https://github.com/dajva/rg.el
	ignore = untracked
[submodule "rjsx-mode"]
	path = elisp/borg/rjsx-mode
	url = https://github.com/felipeochoa/rjsx-mode
	ignore = untracked
[submodule "rspec-mode"]
	path = elisp/borg/rspec-mode
	url = https://github.com/pezra/rspec-mode
[submodule "ruby-block"]
	path = elisp/borg/ruby-block
	url = git@github.com:emacsmirror/ruby-block.git
	ignore = untracked
[submodule "ruby-end"]
	path = elisp/borg/ruby-end
	url = https://github.com/rejeep/ruby-end.el
[submodule "rust-mode"]
	path = elisp/borg/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = elisp/borg/s
	url = https://github.com/magnars/s.el
	ignore = untracked
[submodule "scala-mode"]
	path = elisp/borg/scala-mode
	url = https://github.com/hvesalai/emacs-scala-mode
	ignore = untracked
[submodule "scss-mode"]
	path = elisp/borg/scss-mode
	url = https://github.com/antonj/scss-mode
	ignore = untracked
[submodule "sequential-command"]
	path = elisp/borg/sequential-command
	url = https://github.com/rubikitch/sequential-command
	ignore = untracked
[submodule "shrink-path"]
	path = elisp/borg/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
	ignore = untracked
[submodule "slim-mode"]
	path = elisp/borg/slim-mode
	url = https://github.com/slim-template/emacs-slim
	ignore = untracked
[submodule "spinner"]
	path = elisp/borg/spinner
	url = https://github.com/Malabarba/spinner.el
	ignore = untracked
[submodule "sql-indent"]
	path = elisp/borg/sql-indent
	url = https://github.com/bsvingen/sql-indent
	ignore = untracked
[submodule "sqlite3"]
	path = elisp/borg/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
	ignore = untracked
[submodule "ssass-mode"]
	path = elisp/borg/ssass-mode
	url = https://github.com/AdamNiederer/ssass-mode
	ignore = untracked
[submodule "tablist"]
	path = elisp/borg/tablist
	url = git@github.com:politza/tablist.git
[submodule "tail"]
	path = elisp/borg/tail
	url = https://github.com/emacsorphanage/tail
	ignore = untracked
[submodule "tblui"]
	path = elisp/borg/tblui
	url = https://github.com/Yuki-Inoue/tblui.el
	ignore = untracked
[submodule "terraform-mode"]
	path = elisp/borg/terraform-mode
	url = https://github.com/hcl-emacs/terraform-mode
	ignore = untracked
[submodule "transient"]
	path = elisp/borg/transient
	url = git@github.com:magit/transient.git
[submodule "tree-sitter"]
	path = elisp/borg/tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter
	load-path = core
	load-path = lisp
[submodule "tree-sitter-langs"]
	path = elisp/borg/tree-sitter-langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs
[submodule "treemacs"]
	path = elisp/borg/treemacs
	url = https://github.com/Alexander-Miller/treemacs
	load-path = src/elisp
	load-path = src/extra
	ignore = untracked
[submodule "treepy"]
	path = elisp/borg/treepy
	url = git@github.com:volrath/treepy.el.git
	ignore = untracked
[submodule "treesit-auto"]
	path = elisp/borg/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "typescript-mode"]
	path = elisp/borg/typescript-mode
	url = https://github.com/emacs-typescript/typescript.el
	ignore = untracked
[submodule "undo-tree"]
	path = elisp/borg/undo-tree
	url = https://gitlab.com/tsc25/undo-tree
	ignore = untracked
[submodule "use-package"]
	path = elisp/borg/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = elisp/borg/vertico
	url = https://github.com/minad/vertico
	ignore = untracked
	load-path = .
	load-path = extensions
[submodule "viewer"]
	path = elisp/borg/viewer
	url = https://github.com/rubikitch/viewer
	ignore = untracked
[submodule "vue-html-mode"]
	path = elisp/borg/vue-html-mode
	url = https://github.com/AdamNiederer/vue-html-mode
	ignore = untracked
[submodule "vue-mode"]
	path = elisp/borg/vue-mode
	url = https://github.com/AdamNiederer/vue-mode
	ignore = untracked
[submodule "web-mode"]
	path = elisp/borg/web-mode
	url = https://github.com/fxbois/web-mode
	ignore = untracked
[submodule "wgrep"]
	path = elisp/borg/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
	ignore = untracked
[submodule "which-key"]
	path = elisp/borg/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "which-key-posframe"]
	path = elisp/borg/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
	ignore = untracked
[submodule "window-layout"]
	path = elisp/borg/window-layout
	url = https://github.com/kiwanami/emacs-window-layout
	ignore = untracked
[submodule "with-editor"]
	path = elisp/borg/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml"]
	path = elisp/borg/yaml
	url = https://github.com/zkry/yaml.el
	ignore = untracked
[submodule "yaml-mode"]
	path = elisp/borg/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
	ignore = untracked
[submodule "yaol"]
	path = elisp/borg/yaol
	url = https://github.com/aki2o/yaol-el
	ignore = untracked
[submodule "yard-mode"]
	path = elisp/borg/yard-mode
	url = https://github.com/pd/yard-mode.el
	ignore = untracked
[submodule "yasnippet"]
	path = elisp/borg/yasnippet
	url = https://github.com/joaotavora/yasnippet
	ignore = untracked
[submodule "yaxception"]
	path = elisp/borg/yaxception
	url = https://github.com/aki2o/yaxception
	ignore = untracked
