*.elc
*~
\#*\#
.\#*

/.*
/*
!/.gitignore
!/*.el

!/conf/
!/elisp/
/elisp/el-get
/elisp/elpa

!/snippets/

!/recipes/

!/gnus/
/gnus/*
!/gnus/rss.xml

!/org-gcal/
/org-gcal/*
!/org-gcal/seeksched/
/org-gcal/seeksched/**/*.js
/org-gcal/seeksched/typings/

!/.authinfo.gpg
!/.authinfo.plist
!/.oauth2.plstore
!/.bts-project
!/.bts-query
