[submodule "auto-compile"]
	path = elisp/borg/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = elisp/borg/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = elisp/borg/closql
	url = git@github.com:magit/closql.git
[submodule "compat"]
	path = elisp/borg/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "ctable"]
	path = elisp/borg/ctable
	url = https://github.com/kiwanami/emacs-ctable
	ignore = untracked
[submodule "dash"]
	path = elisp/borg/dash
	url = git@github.com:magnars/dash.el.git
[submodule "dash-functional"]
	path = elisp/borg/dash-functional
	url = git@github.com:aki2o/.emacs.d.git
[submodule "deferred"]
	path = elisp/borg/deferred
	url = https://github.com/kiwanami/emacs-deferred
	ignore = untracked
[submodule "diff-hl"]
	path = elisp/borg/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = elisp/borg/diminish
	url = https://github.com/myrjola/diminish.el
	ignore = untracked
[submodule "dropdown-list"]
	path = elisp/borg/dropdown-list
	url = git@github.com:emacsmirror/dropdown-list.git
	ignore = untracked
[submodule "elmine"]
	path = elisp/borg/elmine
	url = https://github.com/leoc/elmine
	ignore = untracked
[submodule "emacsql"]
	path = elisp/borg/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "epkg"]
	path = elisp/borg/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = elisp/borg/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
	ignore = untracked
[submodule "f"]
	path = elisp/borg/f
	url = https://github.com/rejeep/f.el
	ignore = untracked
[submodule "fuzzy"]
	path = elisp/borg/fuzzy
	url = https://github.com/auto-complete/fuzzy-el
[submodule "git-modes"]
	path = elisp/borg/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "gntp"]
	path = elisp/borg/gntp
	url = https://github.com/tekai/gntp.el
	ignore = untracked
[submodule "hexrgb"]
	path = elisp/borg/hexrgb
	url = git@github.com:emacsmirror/hexrgb.git
	ignore = untracked
[submodule "hydra"]
	path = elisp/borg/hydra
	url = https://github.com/abo-abo/hydra
	ignore = untracked
[submodule "init-loader"]
	path = elisp/borg/init-loader
	url = https://github.com/emacs-jp/init-loader
[submodule "llama"]
	path = elisp/borg/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "magit"]
	path = elisp/borg/magit
	url = git@github.com:magit/magit.git
[submodule "mozc"]
	path = elisp/borg/mozc
	url = git@github.com:emacsmirror/mozc.git
	ignore = untracked
[submodule "mozc-el-extensions"]
	path = elisp/borg/mozc-el-extensions
	url = git@github.com:iRi-E/mozc-el-extensions.git
	ignore = untracked
[submodule "mozc-popup"]
	path = elisp/borg/mozc-popup
	url = https://github.com/d5884/mozc-popup
	ignore = untracked
[submodule "popup"]
	path = elisp/borg/popup
	url = https://github.com/auto-complete/popup-el
[submodule "posframe"]
	path = elisp/borg/posframe
	url = https://github.com/tumashu/posframe
	ignore = untracked
[submodule "s"]
	path = elisp/borg/s
	url = https://github.com/magnars/s.el
	ignore = untracked
[submodule "sqlite3"]
	path = elisp/borg/sqlite3
	url = git@github.com:pekingduck/emacs-sqlite3-api.git
[submodule "transient"]
	path = elisp/borg/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = elisp/borg/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "use-package"]
	path = elisp/borg/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = elisp/borg/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "which-key-posframe"]
	path = elisp/borg/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
	ignore = untracked
[submodule "with-editor"]
	path = elisp/borg/with-editor
	url = git@github.com:magit/with-editor.git
